# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
 - package-ecosystem: "devcontainers"
   directory: "/"
   schedule:
     interval: "monthly"
   labels:
     - "dependencies"
     - "devcontainers"
   open-pull-requests-limit: 1
     groups:
       all-dependencies:
         patterns:
           - "*"
    
 - package-ecosystem: "nuget"
   directory: "/" # Location of package manifests
   schedule:
     interval: "monthly"
   labels:
     - "dependencies"
     - "dotnet"
   open-pull-requests-limit: 1
     groups:
       all-dependencies:
         patterns:
           - "*"

 - package-ecosystem: "github-actions"
   directory: "/"
   schedule:
     interval: "monthly"
   labels:
     - "dependencies"
     - "github-actions"
   open-pull-requests-limit: 1
     groups:
       all-dependencies:
         patterns:
           - "*"
