

<h2>1. Выбирай сериалы</h2>
<img src="~/images/f0.png" width="400" />
<h2>2. Выбирай качество</h2>
<img src="~/images/f1.png" height="300" />
<h2>3. Копируй адрес фида</h2>
<img src="~/images/f2.png" width="400" />
<h2>4. Добавляй фид в uTorrent</h2>
<img src="~/images/f3.png" width="400" />
<h2>5. Наслаждайся автоматической закачкой сериалов как только они появляются</h2>