<h2>1. В браузере Chrome нажмите F12 (откроется панель разработчика)</h2>
<h2>2. Перейти на вкладку 'Application', в разделе 'Storage' выбрать 'Cookie' -> 'https://www.lostfilm.tv'</h2>
<h2>3. Скопировать значение для имени 'If_session'</h2>
<img src="~/images/if_session.png" />