<h2>Вход</h2>
<form method="post">
    <span>Введите ключ, который вы получили при регистрации.</span><br />
    <input name="userId" type="text" />
    <input type="submit" /><br />
    @Html.ValidationMessage("error", new { style="color:red" })
</form>
