@model LostFilmMonitoring.BLL.Models.RegistrationModel
<h2>Регистрация</h2>
<form method="post">
    @Html.TextBoxFor(m => m.Uid)
    @Html.TextBoxFor(m => m.Usess)
    @Html.TextBoxFor(m => m.If_session)
    <input type="submit" /><br />
</form>