@model bool

<li><a asp-area="" asp-controller="Home" asp-action="About">Зачем это всё?</a></li>
@if (Model)
{
    <li><a asp-controller="Home" asp-action="Online">Моя лента для потокового просмотра</a></li>
    <li><a asp-controller="Home" asp-action="Feed">Мой фид для uTorrent</a></li>
}
else
{
    <li><a asp-controller="Home" asp-action="Login">Вход</a></li>
    <li><a asp-controller="Home" asp-action="Register">Регистрация</a></li>
}