@model bool

<li><a asp-area="" asp-controller="Home" asp-action="About">Зачем это всё?</a></li>
<li><a style="color:yellow;" target="_blank" href="https://lanubisl.github.io/lostfilmfeed/index.html">Сообщения от разработчика</a></li>
@if (Model)
{
    <li><a asp-controller="Feed" asp-action="Feed">Моя подписка</a></li>
}
else
{
    <li><a asp-controller="Home" asp-action="Login">Вход</a></li>
    <li><a asp-controller="Home" asp-action="Register">Регистрация</a></li>
}
<li><a href="https://github.com/lAnubisl/LostFilmTorrentsFeed" target="_blank">Исходный код на GitHub</a></li>